*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}

.clock{
    position: relative;
    height: 40rem;
    width: 40rem;
    background: url('/clockWithJS/img/clock.png');
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: 100%;
}

.secs{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 12rem;
    width: .1rem;
    background-color: tomato;
    transform: translateX(-50%);
    transform-origin: 25% 0;
}

.mins{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 9rem;
    width: .3rem;
    background-color: tomato;
    border-radius: 20px;
    transform: translateX(-50%);
    transform-origin: 25% 0;
}

.hours{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 6rem;
    width: .5rem;
    background-color: black;
    border-radius: 15px;
    transform: translateX(-50%);
    transform-origin: 50% 0;
}

.dot{
    position: absolute;
    top: 49%;
    left: 50%;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: black;
    transform: translateX(-50%);
}

@media only screen and (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:indigo;
    }
    
    .clock{
        position: relative;
        height: 20rem;
        width: 20rem;
        background: url('/clockWithJS/img/clock.png');
        background-repeat: no-repeat;
        border-radius: 50%;
        background-size: 100%;
    }
    
    .secs{
        position: absolute;
        top: 50%;
        left: 50%;
        height: 6rem;
        width: .1rem;
        background-color: tomato;
        transform: translateX(-50%);
        transform-origin: 25% 0;
    }
    
    .mins{
        position: absolute;
        top: 50%;
        left: 50%;
        height: 4rem;
        width: .3rem;
        background-color: tomato;
        border-radius: 20px;
        transform: translateX(-50%);
        transform-origin: 25% 0;
    }
    
    .hours{
        position: absolute;
        top: 50%;
        left: 50%;
        height: 3rem;
        width: .5rem;
        background-color: black;
        border-radius: 15px;
        transform: translateX(-50%);
        transform-origin: 50% 0;
    }
    
    .dot{
        position: absolute;
        top: 49%;
        left: 50%;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        background-color: black;
        transform: translateX(-50%);
    }
}